################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dispatching
/Source/Dispatching/bin/Debug/netstandard2.0
/Source/Dispatching/obj
/Source/Dispatching.Aaa/bin/Debug/netstandard2.0
/Source/Dispatching.Aaa/obj
/Source/Dispatching.Api/bin/Debug/netcoreapp3.1
/Source/Dispatching.Api/obj
/Source/Dispatching.Broker/bin/Debug/netstandard2.0
/Source/Dispatching.Broker/obj
/Source/Dispatching.Persistence/bin/Debug/netstandard2.0
/Source/Dispatching.Persistence/obj
/Source/Dispatching.ReadModel/bin/Debug/netstandard2.0
/Source/Dispatching.ReadModel/obj
/Tests/Dispatching.Aaa.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.Aaa.Tests/obj
/Tests/Dispatching.Api.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.Api.Tests/obj
/Tests/Dispatching.Broker.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.Broker.Tests/obj
/Tests/Dispatching.Persistence.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.Persistence.Tests/obj/Debug/netcoreapp3.1
/Tests/Dispatching.Persistence.Tests/obj
/Tests/Dispatching.ReadModel.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.ReadModel.Tests/obj
/Tests/Dispatching.TestFixtures/bin/Debug/netcoreapp3.1
/Tests/Dispatching.TestFixtures/obj/Debug/netcoreapp3.1
/Tests/Dispatching.TestFixtures/obj
/Tests/Dispatching.Tests/bin/Debug/netcoreapp3.1
/Tests/Dispatching.Tests/obj
/TestResults/b65d26f4-ded1-4c13-8341-0add3ad10a0b
/AcceptanceTests/Dispatching.Specifications/bin/Debug/netcoreapp3.1
/AcceptanceTests/Dispatching.Specifications/obj
/Tests/Dispatching.Tests/Dispatching.Tests.csproj.user
